* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(red, green, blue);
}

.cuadrado {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1 {
    background-color: gray;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
}

#btn2 {
    background-color: gray;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
}

#btn3 {
    background-color: gray;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
}